/**
 * @file
 * Form styling
 */
#header .search-form {
  height: 47px;
  line-height: 47px;
  margin: 0;
}

#header .search-form label {
  display:none;
}

#header .search-form .form-text{
  background: url("../images/btn/btn-search.png") no-repeat scroll 10px center #FFFFFF;
  border: 1px solid #C8C8C8;
  box-shadow: 0 1px 3px #C8C8C8 inset;
  margin-right: 15px;
  padding: 5px 5px 5px 27px;
  width: 200px;
}

#header .search-form .form-submit{
  display:none;
}