/**
 * @file
 * Layout styling
 */
#skip-link{
  display:none;
}

body {
  background: none repeat scroll 0 0 #E9EDF1;
  padding:0;
  margin:0;
}

#page-wrapper{
  width:960px;
  margin:0 auto;
}

.admin-menu #page-wrapper {
  margin-top:50px;
}

#header {
  box-shadow:0 1px 3px #8493A6;
  border:1px solid #000000;
  background:#111111;
  border: 1px solid #3957A3;
  height: 47px;
  width: 960px;
  margin:0 auto 25px;
  box-shadow: 0 1px 3px #8493A6;
  font-family:Arial,Verdana,Tahoma,"DejaVu Sans",sans-serif;
}

#site-name {
  float: left;
  padding:0 15px;
}

#site-name a {
  border: 0 none;
  color: #FFFFFF;
  font-size: 14px;
  line-height: 48px;
  text-shadow: 0 -1px 1px #666666;
  text-transform: uppercase;
}

#search-form-wrapper {
  float:right;
}

#slideshow h2 {
  display:none;
}

#slideshow img{
  vertical-align:bottom;
}

#highlight h1{
  color: #35393F;
  font-size: 23px;
  font:normal 23px sans-serif;
  line-height: 80px;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.01);
  margin:0;
  background:url('../images/subheading.png') no-repeat scroll 0 0 transparent;
  text-align:center;
}

h1#page-title {
  display: none;
  font-family: SansationLight;
  font-size: 30px;
  line-height: 30px;
  margin-bottom: 15px;
  margin-top: 0;
}

.region-top{
  padding: 20px 30px;
  background:#F9F9F9;
}

#main {
  background:url("../images/border.png") repeat-y scroll 0 0 #FFFFFF;
  box-shadow: 0 1px 3px #8493A6;
}

.border #content{
  border-color: #dfdfdf;
  border-style: solid;
  border-width: 1px 1px 0 0;
}

#content{
  float: left;
  padding: 20px;
  width: 600px;
}

#sidebar-right{
  float: left;
  padding: 0 20px;
  width: 279px;
}

#footer .section{
  font-size: 11px;
  margin: 20px auto 50px;
  overflow: hidden;
  width: 960px;
}


















