/**
 * @file
 * Menu and Navigation styling
 */

#navigation {
  float: left;
}

#navigation {
  line-height: normal;
  z-index: 10;
}

#navigation ul.links {
  border: medium none;
  margin:0;
  padding:0;
  z-index: 1000;
  display:table;
  table-layout:fixed;
}

#navigation ul.links li {
  background: none repeat scroll 0 0 transparent;
  border: medium none;
  list-style: none outside none;
  margin: 0;
  float:left;
  display:table-row;
  border-left:1px solid #323232;
}

#navigation ul.links li a {
  color: #FFFFFF;
  display: table-cell;
  font-size: 12px;
  height: 47px;
  margin: 0;
  padding: 0 15px;
  text-decoration: none;
  vertical-align: middle;
  text-transform:uppercase;
}

#navigation ul.links li a:hover {
  background-color:#323232;
}

/********************
 * secondary links
 *******************/
#block-menu-secondary-links{
  float:right;
}

#block-menu-secondary-links ul.menu{
  clear: both;
  float: left;
  margin: 5px 10px 0;
  padding: 0;
}

#block-menu-secondary-links ul.menu li{
  border-right: 1px solid;
  display: block;
  float: left;
  height: 11px;
  line-height: 8px;
  list-style: none outside none;
  padding: 0 7px;
}

#block-menu-secondary-links a{
  color: #5C646D;
  font-weight: bold;
}

#block-menu-secondary-links p.top{
  float: right;
  margin: 0;
}

#block-menu-secondary-links p.bottom{
  float:right;
  margin:0;
  color:#99A1AA;
}


















