/**
 * @file
 * HTML Element Styling
 */
body {
  color: #333333;
  font: 12px/18px "Lucida Grande","Lucida Sans Unicode",Helvetica,Arial,Verdana,sans-serif;
}

#skip-to-nav,
#page {
}

pre,
code,
kbd,
samp,
tt,
var {
  font-family: "Courier New", "DejaVu Sans Mono", monospace;
}

/*
 * Block-level elements
 */
h1, h2, h3, h4, h5, h6
p, blockquote, pre,
ul, ol, dl,
hr, table, fieldset {
  margin: 0 0 1.5em;
}

/* Headings */
h1 {
  font-size: 2em;
  line-height: 1.5em;
  margin: 0.75em 0;
}

h2 {
  font-size: 1.5em;
  line-height:1.2em;
  margin: 0 0 0.5em;
}

h3 {
  font-size: 1.3em;
  margin: 1.154em 0; /* Equivalent to 1.5em in the page's base font: 1.5 / 1.3 = 1.154 */
}

h4,
h5,
h6 {
  font-size: 1.1em;
  margin: 1.364em 0; /* Equivalent to 1.5em in the page's base font: 1.5 / 1.1 = 1.364 */
}

h1,h2,h3,h4,h5,h6{
  color:#000;
  font-weight:normal;
}

/* Other block-level elements */
p {
  margin:0 0 1em;
}

p:last-child {
  margin:0;
}

blockquote {
  margin-left: 2em;
  margin-right: 2em;
}

pre {
  font-size: 1.1em; /* Monospace fonts can be hard to read */
  margin: 1.364em 0; /* Equivalent to 1.5em in the page's base font: 1.5 / 1.1 = 1.364 */
}

hr {
  height: 1px;
  border: 1px solid #666;
}

address {
}

/*
 * Lists
 *
 * We need to standardize the list item indentation.
 */
ul,
ol {
  margin-left: 0; /* LTR */
  padding-left: 2em; /* LTR */
}

.item-list ul /* Drupal overrides */ {
  margin: 1.5em 0;
  padding: 0 0 0 2em; /* LTR */
}

ul ul, ul ol,
ol ol, ol ul,
.item-list ul ul, .item-list ul ol,
.item-list ol ol, .item-list ol ul {
  margin: 0;
}

li {
  margin: 0;
  padding: 0;
}

.item-list ul li,
ul.menu li,
li.expanded,
li.collapsed,
li.leaf /* Drupal override */ {
  margin: 0;
  padding: 0;
}

ul          { list-style-type: disc; }
ul ul       { list-style-type: circle; }
ul ul ul    { list-style-type: square; }
ul ul ul ul { list-style-type: circle; }
ol          { list-style-type: decimal; }
ol ol       { list-style-type: lower-alpha; }
ol ol ol    { list-style-type: decimal; }

dl {
  margin:0;
}

dt {
  margin: 0;
  padding: 0;
  font-weight:bold;
}

dd {
  margin: 0 0 10px;
  padding: 0;
}

/*
 * Tables
 */
table {
  border-collapse: collapse;
}

th {
  text-align: left; /* LTR */
  padding: 0;
  border-bottom: none;
}

tbody {
  border-top: none;
}

thead {
}

tfoot {
}

caption {
}

colgroup {
}

col {
}

tr {
}

td {
}

/*
 * Forms
 */
form {
  margin: 0;
  padding: 0;
}

fieldset {
  padding: 0.5em;
}

legend {
}

label {
}

input {
}

select {
}

optgroup {
}

option {
}

textarea {
}

button {
}

/*
 * Links
 *
 * The order of link states are based on Eric Meyer's article:
 * http://meyerweb.com/eric/thoughts/2007/06/11/who-ordered-the-link-states
 */
a:link {
  text-decoration:none;
  color:#268CA0;
}

a:visited {
}

a:hover,
a:focus {
}

a:active {
}

/*
 * Other inline elements
 */
img {
  border: 0;
  /* vertical-align: bottom; */ /* Suppress the space beneath the baseline */
}

abbr, /* Abbreviations */
acronym {
  border-bottom: 1px dotted #666;
  cursor: help;
  white-space: nowrap;
}

q {
}

cite {
}

strong, b {
}

em, i {
}

code,
kbd,
samp,
tt,
var /* Code, keyboard input, sample output, teletype, variable */ {
}

del {
}

ins {
}

big {
}

small {
}

sub {
}

sup {
}
